body{
    font-family:'Times New Roman', Times, serif
    
}

header {
    text-align: center;
    
}
main {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        
      }
main img {
        width: 100%;
      }
      
caption {
    font-weight: bold;

}

hr {border-top:1px solid #FFD877;
}

div {
    border-left: 1px solid gold;
    padding-left: 1em;
}

#fabulous {
        background-color: gold;
        
      }
      
#featured{
    color: chocolate;
    font-weight: bold;
}
#fresh{
    color: darkcyan;
    text-decoration: underline;
 }
#made{
    font-weight: bold;

}

#blu{
    background-color:1px aqua;
}